$sombra: 1px 1px 5px #000;
$coloresClinica:(
    "celeste": #0dd6ec,
    "negro": black,
    "blanco": white,
    "verde": #22e7b6,
);
$backgroundClinica:(
    "blanco": white,
    "negroO": #29282821,
    "footer": #000000d7,
    "transparente":#e4e0e077,
);
$centro: center;


